
#///////////////////////////
# Cocos Creator Project
#///////////////////////////

/library/
/temp/
/local/
/build/*
!/build/web-mobile/
!/build/web-mobile/**
/profiles/
/native/engine/android/**/*/assets

#//////////////////////////
# NPM
#//////////////////////////
node_modules/

#//////////////////////////
# VSCode
#//////////////////////////
.vscode/

#//////////////////////////
# WebStorm
#//////////////////////////
.idea/

#//////////////////////////
# Python
#//////////////////////////
__pycache__/
*.py[cod]
